{% extends 'base.html.twig' %}

{% block body %}
    <div class="card" style="width: 100%;">
        <div class="card-header">
            <h2>Nowy artykuł</h1>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                {{ form_row(form.image) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
